#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Project specific gitignore items from ICON project
.idea/
_old/
.pytest_cache
*.tfstate/
*.tfstate.backup
*.tfplan
.terragrunt-cache/
.terraform/

tmp/